<template>
	<form class="zbc-calculator" @keypress="handleKeyPress">
		<div class="zbc-calculator__display">
			<label :for="`zbc-calculator__display__output-${instanceId}`">
				Display:
			</label>
			<output
				:id="`zbc-calculator__display__output-${instanceId}`"
				class="zbc-calculator__display__output"
			>
				{{ display }}
			</output>
		</div>
		<div class="zbc-calculator__buttons">
			<div class="zbc-calculator__buttons__numbers">
				<Button
					v-for="digit in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]"
					:key="digit"
					@click="
						() => {
							inputDigit(digit)
						}
					"
				>
					{{ digit }}
				</Button>
				<Button @click="inputDecimalPoint">.</Button>
				<Button a11y-label="Negate" @click="negate">+/−</Button>
			</div>
			<div class="zbc-calculator__buttons__binary-operators">
				<Button a11y-label="Add" @click="inputAddOperator">+</Button>
				<Button a11y-label="Subtract" @click="inputSubtractOperator">
					−
				</Button>
				<Button a11y-label="Multiply" @click="inputMultiplyOperator">
					×
				</Button>
				<Button a11y-label="Divide" @click="inputDivideOperator">
					∕
				</Button>
			</div>
			<div class="zbc-calculator__buttons__bottom-row">
				<Button variant="destructive" @click="reset">Reset</Button>
				<Button
					a11y-label="Backspace"
					variant="destructive"
					@click="backspace"
				>
					⌫
				</Button>
				<Button a11y-label="Equals" variant="primary" @click="equals">
					=
				</Button>
			</div>
		</div>
	</form>
</template>

<script lang="ts">
import script from './script'
export default script
</script>

<style src="./style.css"></style>
