<template>
	<button
		type="button"
		:class="['zbc-button', variantClass, customClass]"
		:aria-label="a11yLabel"
		:title="a11yLabel"
	>
		<slot />
	</button>
</template>

<script lang="ts">
// External dependencies
import { PropType, computed, defineComponent } from 'vue'

type Variant = 'destructive' | 'primary' | 'regular'

export default defineComponent({
	props: {
		a11yLabel: { type: String, default: null },
		class: { type: String, default: '' },
		variant: { type: String as PropType<Variant>, default: 'regular' },
	},
	setup(props) {
		const variantClass = computed(() => {
			switch (props.variant) {
				case 'destructive':
					return 'is-destructive'
				case 'primary':
					return 'is-primary'
				default:
					return ''
			}
		})

		return {
			customClass: props.class,
			variantClass,
		}
	},
})
</script>

<style>
.zbc-button.is-destructive,
.is-dark-theme .zbc-button.is-destructive {
	background-color: #800;
	color: #fff;
}

.is-light-theme .zbc-button.is-destructive {
	background-color: #b00;
	color: #fff;
}

.zbc-button.is-destructive:hover,
.is-dark-theme .zbc-button.is-destructive:hover {
	background-color: #a11;
}

.is-light-theme .zbc-button.is-destructive:hover {
	background-color: #d11;
}

.zbc-button.is-primary,
.is-dark-theme .zbc-button.is-primary {
	background-color: #039;
	color: #fff;
}

.is-light-theme .zbc-button.is-primary {
	background-color: #05b;
	color: #fff;
}

.zbc-button.is-primary:hover,
.is-dark-theme .zbc-button.is-primary:hover {
	background-color: #15b;
}

.is-light-theme .zbc-button.is-primary:hover {
	background-color: #17d;
}
</style>
