<template>
	<footer class="zeb-footer">
		<p>
			© 2018-2020
			<a href="https://zebulan.com" rel="external">Zebulan Stanphill</a>.
			Project released under
			<a
				rel="license external"
				href="https://www.gnu.org/licenses/gpl-3.0.html"
			>
				GPLv3+</a
			>.
			<a
				href="https://gitlab.com/ZebulanStanphill/zeb-basic-calculator-vue"
				rel="external"
			>
				Source code
			</a>
		</p>
	</footer>
</template>

<style>
.zeb-footer {
	padding: 8px;
}
</style>
