/* The Nunito font is released under the Open Font License 1.1. */
/* See "nunito-license.txt" for more licensing info. */
@font-face {
	font-family: 'Nunito';
	src: local('Nunito'), local('Nunito-Regular'),
		url('./fonts/Nunito-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src: local('Nunito-Bold'),
		url('./fonts/Nunito-Bold.woff2') format('woff2');
}

:root,
:root.is-dark-theme {
	--background-color: #222;
	--foreground-color: #fff;
	--accent-color: #0be;
	--button-color: #444;
	--button-hover-color: #666;
}

:root .is-light-theme {
	--background-color: #fff;
	--foreground-color: #111;
	--accent-color: #30f;
	--button-color: #bbb;
	--button-hover-color: #ddd;
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #fff;
		--foreground-color: #111;
		--accent-color: #30f;
		--button-color: #bbb;
		--button-hover-color: #ddd;
	}
}

:focus {
	outline: solid 2px var(--accent-color);
	outline-offset: 1px;
}

body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline var(--accent-color);
}

a:hover {
	color: var(--accent-color);
	text-decoration: none;
}

button {
	background-color: var(--button-color);
	color: var(--foreground-color);
	border: 1px solid currentColor;
	border-radius: 2px;
	min-width: 48px;
	min-height: 36px;
	padding: 8px;
	font-size: inherit;

	/* To override button styling in Chromium-based browsers. */
	font-family: inherit;
}


button:hover {
	background-color: var(--button-hover-color);
}

button:active {
	padding-top: 9px;
	padding-bottom: 7px;
}

h1 {
	font-size: 1.2em;
}

p {
	margin: unset;
}
