<template>
	<main class="zbc">
		<TheHeader />
		<Calculator />
		<TheFooter />
	</main>
</template>

<script lang="ts">
// External dependencies
import { defineComponent } from 'vue'

// Project component dependencies
import Calculator from './components/Calculator/index.vue'
import TheHeader from './components/TheHeader.vue'
import TheFooter from './components/TheFooter.vue'

export default defineComponent({
	components: {
		Calculator,
		TheHeader,
		TheFooter,
	},
})
</script>

<style>
.zbc {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
}

.zbc,
.zbc * {
	box-sizing: border-box;
}
</style>
